@model Model.DTOs.ProductDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["imagen"] = Url.Content($"~/images/images/{Model.CoverPage}");
}

<!-- Home -->
<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="@ViewData["imagen"]" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="listing">
    <div class="container">

        <div>
            <h4>@Html.DisplayFor(model => model.Name)</h4>
            <h3>Are you sure you want to delete this?</h3>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Discounts)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Discounts)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PersonNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PersonNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Statud)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Statud)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreationDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CreationDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UpdateDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UpdateDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Place)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Place.PlaceId)
                </dd>
            </dl>
        </div>
        <div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="ProductId" />
                <input type="submit" class="btn btn-outline-danger" value="Delete" />
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
        <div class="m-2">

            <div class="col-xl-12">
                <div class="alert alert-warning alert-dismissible fade show m-3" role="alert">
                    <strong>Advertencia!</strong>  Si deseas eliminar ten en cuenta que se perdera toda la información
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

        </div>

    </div>
</div>