@model Model.DTOs.ProductDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverPage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverPage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HalfPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HalfPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LowPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LowPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discounts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place.PlaceId)
        </dd class>
    </dl>
    <div class="text-warning">
        <p><strong>Nota:</strong>Una vez elimine este también se eliminaran la galleria de imaganes</p>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
