@model ProductDetailView

@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["imagen"] = Url.Content($"~/images/images/{Model.CoverPage}");
}

<!-- Home -->
<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="@ViewData["imagen"]" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title">@Model.Name</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Rooms Area Start -->
<div class="roberto-rooms-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <!-- Single Room Details Area -->
                <div class="single-room-details-area mb-50">

                    <div class="section_title text-center">
                        <h1>Descripción del Plan</h1>
                    </div>
                    <p> @Html.Raw(Model.Description)</p>


                    <!-- Room Features -->
                    <div class="room-features-area d-flex flex-wrap mb-50">

                        <h6>Cuidad: <span>@Model.Place.City</span></h6>
                        <h6>Lugar: <span>@Model.Place.Name</span></h6>
                        <h6>
                            Capacidad: <span>
                                @{string person = ""; if (Model.PersonNumber <= 1) { person += " persona"; } else { person += " personas"; }}
                                @Model.PersonNumber @person
                            </span>
                        </h6>

                        @if (Model.Discounts != "")
                        {
                            <h6>
                                Descuento del: <span>@Model.Discounts%</span>
                            </h6>
                        }

                    </div>

                    <hr />
                    <div class="text-center price">
                        <h6>Antes @Model.PriceWhitIncrement COL</h6>
                        <h1>Valor @Model.ProductWithDiscounts COL</h1>
                    </div>
                    <hr />

                    <div class="section_title text-center">
                        <h4>Descripción del @Model.Place.Name</h4>
                    </div>

                    <p class="text-justify">@Html.Raw(Model.Place.Description)</p>

                    @*<ul>
            <li><i class="fa fa-check"></i> Mauris molestie lectus in irdiet auctor.</li>
            <li><i class="fa fa-check"></i> Dictum purus at blandit molestie.</li>
            <li><i class="fa fa-check"></i> Neque non fermentum suscipit.</li>
            <li><i class="fa fa-check"></i> Donec id dui ac massa malesuada.</li>
            <li><i class="fa fa-check"></i> In sit amet sapien quis orci maximus.</li>
            <li><i class="fa fa-check"></i> Vestibulum rutrum diam vel eros tristique.</li>
        </ul>*@

                </div>

                <!-- Galleries -->
                <div class="container mt-40">
                    <div class="section_title">
                        <h4 class="text-center">Galleria</h4>
                    </div>
                    <div class="row justify-content-center">
                        @foreach (var item in Model.Galleries)
                        {
                            <div class="review_image m-2">
                                <a class="galleriesTour"
                                   href="~/images/images/@item.NameImage">
                                    <img src="~/images/images/@item.NameImage" alt="" />
                                </a>
                            </div>
                        }
                    </div>
                </div>

                @*Room Service
        <div class="room-service mb-50">
            <h4>Room Services</h4>

            <ul>
                <li><img src="~/images/icon1.png" alt=""> Air Conditioning</li>
                <li><img src="~/images/icon2.png" alt=""> Free drinks</li>
                <li><img src="~/images/icon3.png" alt=""> Restaurant quality</li>
                <li><img src="~/images/icon4.png" alt=""> Cable TV</li>
                <li><img src="~/images/icon5.png" alt=""> Unlimited Wifi</li>
                <li><img src="~/images/icon6.png" alt=""> Service 24/24</li>
            </ul>
        </div>*@

            </div>

            <div class="col-12 col-lg-4">
                <!-- Hotel Reservation Area -->

                <div class="sidebar">
                    <!-- Work Hours -->
                    <div class="work_hours d-flex flex-row align-items-center justify-content-start">
                        <div class="sidebar_info_icon">
                            <img src="~/images/ws.svg" alt="" />
                        </div>
                        <div class="sidebar_info_content">
                            <span>Escribanos: </span> <a href="https://api.whatsapp.com/send?phone=57 @Model.Place.Phone" target="_blank">3104304545</a>
                        </div>
                    </div>

                    <!-- Info -->
                    <div class="sidebar_info">
                        <ul>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div class="sidebar_info_icon">
                                    <img src="~/images/info_1.png" alt="" />
                                </div>
                                <div class="sidebar_info_content">
                                    <span>Municipio: </span>@Model.Place.City
                                </div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div class="sidebar_info_icon">
                                    <img src="~/images/info_1.png" alt="" />
                                </div>
                                <div class="sidebar_info_content">
                                    <span>Dirección: </span>@Model.Place.Address
                                </div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div class="sidebar_info_icon">
                                    <img src="~/images/info_1.png" alt="" />
                                </div>
                                <div class="sidebar_info_content">
                                    <span>Zona: </span>@Model.Urban
                                </div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div class="sidebar_info_icon">
                                    <img src="~/images/info_3.png" alt="" />
                                </div>
                                <div class="sidebar_info_content">
                                    <span>E-mail: </span>@Model.Place.Email
                                </div>
                            </li>
                        </ul>
                    </div>


                </div>

                @*<div class="hotel-reservation--area mb-100">
                    <form action="#" method="post">
                        <div class="form-group mb-30">
                            <label for="checkInDate">Date</label>
                            <div class="input-daterange" id="datepicker">
                                <div class="row no-gutters">
                                    <div class="col-6">
                                        <input type="text" class="input-small form-control appointment_date-check-in" placeholder="Entrada">
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="input-small form-control appointment_date-check-out" placeholder="Salida">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-30">
                            <label for="guests">Guests</label>
                            <div class="row">
                                <div class="col-6">
                                    <select name="adults" id="guests" class="form-control">
                                        <option value="adults">Adults</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <select name="children" id="children" class="form-control">
                                        <option value="children">Children</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn roberto-btn w-100">Check Available</button>
                        </div>
                    </form>


                </div>*@
            </div>
        </div>
    </div>
</div>
<!-- Rooms Area End -->

@section Scripts {

    @{await Html.RenderPartialAsync("_ScriptProductsProduct");}

}