@model IEnumerable<ProductsView>

@{
    ViewData["Title"] = "Donde Dormir, ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["imagen"] = Url.Content("~/images/blog.jpg");
}

<!-- Home -->
<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="@ViewData["imagen"]" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title">Donde Dormir</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Any())
{
    <!-- Blog -->

    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="blog_posts_container">
                        <div class="blog_posts">

                            @foreach (var whereToSleep in Model)
                            {

                                <!-- Blog Post -->
                                <div class="blog_post">
                                    <div class="blog_post_container">

                                        @if (whereToSleep.Discounts > 0)
                                        {
                                            <div class="location_icon text-center">
                                                <span style="color:aliceblue"> Desc del <strong> @whereToSleep.Discounts%</strong></span>
                                            </div>
                                        }


                                        @if (whereToSleep.CoverPage == null)
                                        {
                                            <div class="blog_post_image"><img src="~/images/blog.jpg" alt="@whereToSleep.Name"></div>
                                        }
                                        else
                                        {
                                            <div class="blog_post_image"><a asp-controller="Products" asp-action="Product" asp-route-productUrl="@whereToSleep.ProductUrl"><img src="~/images/images/@whereToSleep.SquareCover" asp-append-version="true"></a></div>
                                        }

                                    <div class="blog_post_content">

                                        <div class="blog_post_date text-center"><a href="#">@whereToSleep.Place.City</a></div>

                                        <div class="blog_post_title">
                                            <h3><a asp-controller="Products" asp-action="Product" asp-route-productUrl="@whereToSleep.ProductUrl">@whereToSleep.Name</a></h3>
                                        </div>
                                        <div class="blog_post_tags text-lg-center">
                                            <ul class="d-flex flex-row align-items-start justify-content-start">
                                                <li><a asp-controller="Company" asp-action="Details" asp-route-urlName="@whereToSleep.Place.NameUrl">@whereToSleep.Place.Name</a></li>
                                                @if (whereToSleep.Place.urban)
                                                {
                                                    <li>Urbano</li>
                                                }
                                                else
                                                {
                                                    <li>Rural</li>
                                                }

                                            </ul>
                                        </div>
                                        <div class="blog_post_title text-center">

                                            @if (whereToSleep.Discounts > 0)
                                            {
                                                <p class="text-center"> <del><span>Sin descuento @whereToSleep.Price col</span></del></p>
                                            }

                                            <h2>@whereToSleep.ProductWithDiscounts Col</h2>
                                        </div>
                                        <p class="text-center"><span>Plan para @whereToSleep.PersonNumber personas</span></p>
                                    </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                    <div class="col">
                        <div class="blog_posts_more">
                            <div class="button load_more_button ml-auto mr-auto"><a href="#">Load More</a></div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>



}
else
{
    <partial name="_MessageWithoutRegistration" />
}


@section Scripts {

    @{await Html.RenderPartialAsync("_ScriptPlacesAliados");}
}
