@model IEnumerable<Model.DTOs.PlacesAlliesDto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Aliados";
    ViewData["imagen"] = Url.Content("~/images/blog.jpg");
}

<!-- Home -->
<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="@ViewData["imagen"]" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title">Souvenir</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Any())
{
    <!-- Blog -->

    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="blog_posts_container">
                        <div class="blog_posts">

                            @foreach (var _allies in Model)
                            {

                                <!-- Blog Post -->
                                <div class="blog_post">
                                    <div class="blog_post_container">

                                        @if (_allies.SquareCover == null)
                                        {
                                            <div class="blog_post_image"><img src="~/images/blog.jpg" alt="@_allies.Name"></div>
                                        }
                                        else
                                        {
                                            <div class="blog_post_image"><a href="souvenir/@_allies.UrlName"><img src="~/images/images/@_allies.SquareCover" asp-append-version="true"></a></div>
                                        }

                                        <div class="blog_post_content">

                                            @if (_allies.DataCreate <= DateTime.Now)
                                            {
                                                <div class="blog_post_date"><span>Acreditado</span></div>
                                            }
                                            else
                                            {
                                                <div class="blog_post_date"><span>Nuevo</span></div>
                                            }
                                            <div class="blog_post_title">
                                                <h3>
                                                    @Html.ActionLink(_allies.Name, _allies.UrlName, "souvenir")
                                                </h3>
                                            </div>
                                            <div class="blog_post_tags">
                                                <ul class="d-flex flex-row align-items-start justify-content-start">
                                                    <li><span>@_allies.City</span></li>
                                                    @if (_allies.urban)
                                                    {
                                                        <li><span>Urbana</span></li>
                                                    }
                                                    else
                                                    {
                                                        <li><span>Rural</span></li>
                                                    }

                                                </ul>
                                            </div>
                                            <div class="blog_post_text">
                                                <p>@_allies.Description ...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }

                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                    <div class="col">
                        <div class="blog_posts_more">
                            <div class="button load_more_button ml-auto mr-auto"><a href="#">Load More</a></div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>

}
else
{
    <partial name="_MessageWithoutRegistration" />
}

@section Scripts {

    @{await Html.RenderPartialAsync("_ScriptPlacesAliados");}
}
