@model Model.DTOs.PlaceDto

@{
    ViewData["Title"] = Model.Name + ", ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["imagen"] = Url.Content("~/images/blog.jpg");

}

<!-- Home -->
<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="@ViewData["imagen"]" data-speed="0.8"></div>
    <div class="home_container_places_hotel">
        <div class="container fill_height">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        @*<div class="listing_title"><h1>The Meal</h1></div>*@
                        <div class="listing_info_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
                            @*<div class="listing_info d-flex flex-row align-items-center justify-content-start">
                                <div class="listing_rating">4,5</div>
                                <div class="listing_price">$$$</div>
                                <div class="listing_type">Restaurant</div>
                                <div class="listing_status">Closed</div>
                            </div>*@
                            <div class="listin_info_options d-flex flex-row align-items-start justify-content-start ml-lg-auto">
                                <div class="listing_info_button listing_info_button_1">
                                    <a href="#">Estribe una reseña</a>
                                </div>
                                <div class="listing_info_button listing_info_button_2">
                                    <a href="#">Buscar Plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Listing -->

<div class="listing">
    <div class="container">
        <div class="row">
            <!-- Listing Content -->
            <div class="col-lg-8">
                <div class="listing_content">
                    <div class="section_title">
                        <h1>
                            @Html.DisplayFor(model => model.Name)
                        </h1>
                    </div>
                    <div class="listing_text">
                        <text>
                            @Html.DisplayFor(model => model.Description)
                        </text>
                    </div>

                    <!-- Accordions -->
                    <div class="accordions">

                        @if (Model.Products.Any())
                        {

                            @foreach (var product in Model.Products)
                            {

                                <!-- Accordion -->
                                <div class="accordion_container">
                                    <div class="accordion d-flex flex-row align-items-center">
                                        <div>
                                            @product.Name
                                        </div>
                                    </div>
                                    <div class="accordion_panel">
                                        <div>
                                            <p>
                                                @product.Description
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                            <h1>El hote @Model.Name no cuenta con planes en el momento</h1>
                        }


                    </div>

                    <!-- Reviews -->
                    <div class="reviews">
                        <div class="section_title"><h1>2 Reviews</h1></div>
                        <div class="reviews_container">
                            <!-- Review -->
                            <div class="review d-flex flex-lg-row flex-column align-items-start justify-content-start">
                                <div class="review_user_container">
                                    <div>
                                        <div class="review_user d-flex flex-lg-column flex-row align-items-center justify-content-start">
                                            <div class="review_user_image">
                                                <img src="~/images/user_3.jpg" alt="" />
                                            </div>
                                            <div class="text-lg-center">
                                                <div class="review_user_name">
                                                    <a href="#">Maria Smith</a>
                                                </div>
                                                <div class="review_count">
                                                    <a href="#">5 reviews</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="review_content">
                                    <div class="review_title_container d-flex flex-row align-items-start justify-content-start">
                                        <div class="review_title">"I love it there"</div>
                                        <div class="review_rating ml-auto">4,5</div>
                                    </div>
                                    <div class="review_text">
                                        <p>
                                            Great place to visit, the food is awesome, I
                                            really love it. I would recommend it to other
                                            people.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Review -->
                            <div class="review d-flex flex-lg-row flex-column align-items-start justify-content-start">
                                <div class="review_user_container">
                                    <div>
                                        <div class="review_user d-flex flex-lg-column flex-row align-items-center justify-content-start">
                                            <div class="review_user_image">
                                                <img src="~/images/user_4.jpg" alt="" />
                                            </div>
                                            <div class="text-lg-center">
                                                <div class="review_user_name">
                                                    <a href="#">Maria Smith</a>
                                                </div>
                                                <div class="review_count">
                                                    <a href="#">5 reviews</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="review_content">
                                    <div class="review_title_container d-flex flex-row align-items-start justify-content-start">
                                        <div class="review_title">"Great place"</div>
                                        <div class="review_rating ml-auto">4,5</div>
                                    </div>
                                    <div class="review_text">
                                        <p>
                                            Great place to visit, the food is awesome, I
                                            really love it. I would recommend it to other
                                            people.
                                        </p>
                                    </div>
                                    <div class="review_images d-flex flex-row align-items-start justify-content-start flex-wrap">
                                        <div class="review_image">
                                            <a class="colorbox"
                                               href="~/images/review_1_large.jpg">
                                                <img src="~/images/review_1.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="review_image">
                                            <a class="colorbox"
                                               href="~/images/review_2_large.jpg">
                                                <img src="~/images/review_2.jpg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Listing Sidebar -->
            <div class="col-lg-4 sidebar_col">
                <div class="sidebar">
                    <!-- Work Hours -->
                    <div class="work_hours d-flex flex-row align-items-center justify-content-start">
                        <div class="sidebar_info_icon">
                            <img src="~/images/ws.svg" alt="" />
                        </div>
                        <div class="sidebar_info_content">
                            <span>Escribanos: </span> <a href="https://api.whatsapp.com/send?phone=3105108287" target="_blank">3104304545</a>
                        </div>
                    </div>

                    <!-- Info -->
                    <div class="sidebar_info">
                        <ul>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div class="sidebar_info_icon">
                                    <img src="~/images/info_1.png" alt="" />
                                </div>
                                <div class="sidebar_info_content">
                                    <span>Municipio: </span>@Model.City
                                </div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div class="sidebar_info_icon">
                                    <img src="~/images/info_1.png" alt="" />
                                </div>
                                <div class="sidebar_info_content">
                                    <span>Dirección: </span>@Model.Address
                                </div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div class="sidebar_info_icon">
                                    <img src="~/images/info_3.png" alt="" />
                                </div>
                                <div class="sidebar_info_content">
                                    <span>E-mail: </span>@Model.Email
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Location -->
                    <div class="location">
                        <div class="location_icon">
                            <img src="~/images/loc.png" alt="" />
                        </div>

                        <!-- Google Map -->

                        <div class="map">
                            <div id="google_map" class="google_map">
                                <div class="map_container">
                                    <div id="map"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Similar Places -->
                    <div class="similar_places">
                        <div class="section_title"><h1>Similar places</h1></div>
                        <div class="similar_places_container d-flex flex-lg-column flex-row align-items-start justify-content-between flex-wrap">
                            <!-- Similar Place -->
                            <div class="similar_place">
                                <div class="similar_place_image">
                                    <div class="location_icon">
                                        <a href="#"><img src="~/images/loc.png" alt="" /></a>
                                    </div>
                                    <div class="similar_place_rating">4,5</div>
                                    <img src="~/images/similar.jpg" alt="" />
                                </div>
                                <div class="similar_place_title">
                                    <a href="#">The Lunch</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





























<div>
    <h4>Place</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoverPage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoverPage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Icono)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlaceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@{await Html.RenderPartialAsync("_ScriptPlacesDetails");}