@model Model.DTOs.PlaceDto

@{
    ViewData["Title"] = Model.Name + ", ";
    ViewData["Places"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["imagen"] = Url.Content($"~/images/images/{Model.CoverPage}");

}

<!-- Home -->
<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="@ViewData["imagen"]" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title">
                            <img src="~/images/images/@Model.Logo" class="rounded-circle" height="200" width="200" asp-append-version="true" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Listing -->

<div class="listing">
    <div class="container">
        <div class="row">
            <!-- Listing Content -->
            <div class="col-lg-8">
                <div class="listing_content">
                    <div class="section_title">
                        <h1>
                            @Html.DisplayFor(model => model.Name)
                        </h1>
                    </div>
                    <div class="listing_text">
                        <text>
                            @Html.DisplayFor(model => model.Description)
                        </text>
                    </div>

                    <!-- Accordions -->
                    <div class="accordions">

                        @if (Model.Products.Any())
                        {

                            @foreach (var product in Model.Products)
                            {

                                <!-- Accordion -->
                                <div class="accordion_container">
                                    <div class="accordion d-flex flex-row align-items-center">
                                        <div>
                                            @product.Name
                                        </div>
                                    </div>
                                    <div class="accordion_panel">

                                        <div class="card">
                                            <a asp-controller="Products" asp-action="Product" asp-route-productUrl="@product.ProductUrl">
                                                <img src="~/images/images/@product.CoverPage" class="card-img-top">
                                            </a>
                                            <div class="card-body justify-content-center">
                                                <dl class="row ">
                                                    <dt class="col-sm-3">
                                                        Nombre
                                                    </dt>
                                                    <dd class="col-sm-9">
                                                        @product.Name
                                                    </dd>
                                                    <dt class="col-sm-3">
                                                        Ddescripción
                                                    </dt>
                                                    <dd class="col-sm-9">
                                                        @product.Description
                                                    </dd>
                                                    <dt class="col-sm-3">
                                                        Personas
                                                    </dt>
                                                    <dd class="col-sm-9">
                                                        @if (@product.PersonNumber <= 1)
                                                        {
                                                            @product.PersonNumber <span>persona</span>
                                                        }
                                                        else
                                                        {
                                                            @product.PersonNumber <span>personas</span>
                                                        }
                                                    </dd>
                                                    <dt class="col-sm-3">
                                                        Precio
                                                    </dt>
                                                    <dd class="col-sm-9">
                                                        @product.Price Col
                                                    </dd>
                                                    <dt class="col-sm-3">
                                                        Disponibilidad
                                                    </dt>
                                                    <dd class="col-sm-9">
                                                        Ver disponibilidad
                                                    </dd>
                                                </dl>
                                                @*<a href="#" class="btn button_3 d-block" role="button" aria-pressed="true">reservar</a>*@
                                            </div>
                                            <div class="card-footer">
                                                <small class="text-muted">Este producto esta sujeto a cambios por el hotel</small>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                            <partial name="_MessageWithoutRegistration" />
                        }


                    </div>

                    <!-- Reviews -->
                    <partial name="_ReviewsPartial" view-data="ViewData"/>
                </div>
            </div>

            <!-- Listing Sidebar -->
            <div class="col-lg-4 sidebar_col">
                <div class="sidebar">
                    <!-- Work Hours -->
                    <div class="work_hours d-flex flex-row align-items-center justify-content-start">
                        <div class="sidebar_info_icon">
                            <img src="~/images/ws.svg" alt="" />
                        </div>
                        <div class="sidebar_info_content">
                            <span>Escribanos: </span> <a href="https://api.whatsapp.com/send?phone=57 @Model.Phone" target="_blank">3104304545</a>
                        </div>
                    </div>

                    <!-- Info -->
                    <div class="sidebar_info">
                        <ul>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div class="sidebar_info_icon">
                                    <img src="~/images/info_1.png" alt="" />
                                </div>
                                <div class="sidebar_info_content">
                                    <span>Municipio: </span>@Model.City
                                </div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div class="sidebar_info_icon">
                                    <img src="~/images/info_1.png" alt="" />
                                </div>
                                <div class="sidebar_info_content">
                                    <span>Dirección: </span>@Model.Address
                                </div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div class="sidebar_info_icon">
                                    <img src="~/images/info_1.png" alt="" />
                                </div>
                                <div class="sidebar_info_content">
                                    <span>Zona: </span>@ViewBag.Urbano
                                </div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div class="sidebar_info_icon">
                                    <img src="~/images/info_3.png" alt="" />
                                </div>
                                <div class="sidebar_info_content">
                                    <span>E-mail: </span>@Model.Email
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Similar Places -->
                    <div class="similar_places">
                        <div class="section_title"><h1>Cercanos a @Model.Name</h1></div>
                        <div class="similar_places_container d-flex flex-lg-column flex-row align-items-start justify-content-between flex-wrap">
                            <!-- Similar Place -->
                            <div class="similar_place">
                                <div class="similar_place_image">
                                    <div class="location_icon">
                                        <a href="#"><img src="~/images/loc.png" alt="" /></a>
                                    </div>
                                    <div class="similar_place_rating">4,5</div>
                                    <img src="~/images/similar.jpg" alt="" />
                                </div>
                                <div class="similar_place_title">
                                    <a href="#">Restaurante</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ScriptPlacesDetails");}
}
