@using System.Globalization;
@using Microsoft.AspNetCore.Identity

@model PlacesDetailsView

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = Model.Name + ", ";
    ViewData["Places"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["imagen"] = Url.Content($"~/images/images/{Model.CoverPage}");

    if (SignInManager.IsSignedIn(User))
    {
        ViewData["NameUser"] = User.Identity.Name;
    }

}

<!-- Home -->
<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="@ViewData["imagen"]" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title">
                            <img src="~/images/images/@Model.Logo" class="rounded-circle" height="200" width="200" asp-append-version="true" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Listing -->

<div class="listing">
    <div class="container">
        <div class="row">
            <!-- Listing Content -->
            <div class="col-lg-8">
                <div class="listing_content">
                    <div class="section_title">
                        <h1>
                            @Html.DisplayFor(model => model.Name)
                        </h1>
                    </div>
                    <div class="listing_text">
                        <text>
                            @Html.DisplayFor(model => model.Description)
                        </text>
                    </div>

                    <!-- Accordions -->
                    <div class="accordions">

                        @if (Model.Products.Any())
                        {

                            @foreach (var product in Model.Products)
                            {

                                <!-- Accordion -->
                                <div class="accordion_container">
                                    <div class="accordion d-flex flex-row align-items-center">
                                        <div>
                                            @product.Name
                                        </div>
                                    </div>
                                    <div class="accordion_panel">

                                        <div class="card">
                                            <a asp-controller="Products" asp-action="Product" asp-route-productUrl="@product.ProductUrl">
                                                <img src="~/images/images/@product.CoverPage" class="card-img-top">
                                            </a>
                                            <div class="card-body justify-content-center">
                                                <dl class="row ">
                                                    <dt class="col-sm-3">
                                                        Nombre
                                                    </dt>
                                                    <dd class="col-sm-9">
                                                        @product.Name
                                                    </dd>
                                                    <dt class="col-sm-3">
                                                        Ddescripción
                                                    </dt>
                                                    <dd class="col-sm-9">
                                                        @product.Description
                                                    </dd>
                                                    <dt class="col-sm-3">
                                                        Personas
                                                    </dt>
                                                    <dd class="col-sm-9">
                                                        @if (@product.NumberOfPeople <= 1)
                                                        {
                                                            @product.NumberOfPeople <span>persona</span>
                                                        }
                                                        else
                                                        {
                                                            @product.NumberOfPeople <span>personas</span>
                                                        }
                                                    </dd>

                                                    <dt class="col-sm-3">
                                                        Precio Normal
                                                    </dt>
                                                    <dd class="col-sm-9">
                                                        @product.PriceWhitIncrement COL
                                                    </dd>

                                                    @if (product.Discounts >= 0)
                                                    {
                                                        <dt class="col-sm-3">
                                                            Descuento
                                                        </dt>
                                                        <dd class="col-sm-9">
                                                            @product.Discounts%
                                                        </dd>
                                                    }

                                                    <dt class="col-sm-3">
                                                        Precio actual
                                                    </dt>
                                                    <dd class="col-sm-9">
                                                        @product.ProductWithDiscounts COL
                                                    </dd>

                                                </dl>
                                                @*<a href="#" class="btn button_3 d-block" role="button" aria-pressed="true">reservar</a>*@
                                            </div>
                                            <div class="card-footer">
                                                <small class="text-muted">Este producto esta sujeto a cambios por el hotel</small>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                            <partial name="_MessageWithoutRegistration" />
                        }


                    </div>

                    @if (Model.Reviews.Any())
                    {

                        <div class="reviews">
                            <div class="section_title text-center"><h1>@Html.DisplayFor(model => model.TotalReviews) Comentarios</h1></div>
                            <div class="reviews_container">

                                @foreach (var item in Model.Reviews)
                                {
                                    <!-- Review -->
                                    <div class="review d-flex flex-lg-row flex-column align-items-start justify-content-start">
                                        <div class="review_user_container">
                                            <div>
                                                <div class="review_user d-flex flex-lg-column flex-row align-items-center justify-content-start">
                                                    <div class="review_user_image">
                                                        <img src="~/images/reviews_defaults.jpg" alt="" />
                                                    </div>
                                                    <div class="text-lg-center">
                                                        <div class="review_user_name">
                                                            <span>@item.NameUser</span>
                                                        </div>
                                                        <div class="review_count">
                                                            <span>@item.DateCreateReview</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review_content">
                                            <div class="review_title_container d-flex flex-row align-items-start justify-content-start">
                                                <div class="review_title">"@item.TittleReview"</div>
                                                <div class="review_rating ml-auto">@item.Assessment</div>
                                            </div>
                                            <div class="review_text">
                                                <p>@item.Description</p>
                                            </div>
                                            <div class="review_images d-flex flex-row align-items-start justify-content-start flex-wrap">

                                                @foreach (var gallery in item.Galleries)
                                                {
                                                    <div class="review_image">
                                                        <a class="colorbox"
                                                           href="~/images/images/@gallery.NameImage">
                                                            <img src="~/images/images/@gallery.NameImage" alt="" />
                                                        </a>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>

                                }

                            </div>
                        </div>

                    }

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="contact_form_container mt-3">
                            <div class="section_title text-center"><h4>Dejanos una reseña</h4></div>
                            <form enctype="multipart/form-data" asp-controller="Company" asp-action="Reviews" class="contact_form" id="contact_form">
                                <div class="row">
                                    <div class="col-lg-8 contact_form_col">
                                        <input asp-for="TittleReview" class="form-control contact_input" placeholder="Titulo Corto" />
                                        <span asp-validation-for="TittleReview" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-4 contact_form_col">
                                        <input asp-for="AssessmentReview" class="form-control contact_input" placeholder="puntaje" />
                                        <span asp-validation-for="AssessmentReview" class="text-danger"></span>
                                    </div>
                                </div>
                                <div>
                                    <input asp-for="DescriptionReview" class="form-control contact_input contact_textarea" placeholder="Descripcion" />
                                    <span asp-validation-for="DescriptionReview" class="text-danger"></span>

                                </div>
                                <div>
                                    <div class="md-form">
                                        <div class="custom-file">
                                            <input asp-for="GalleryReview" multiple class="custom-file-input" id="customFile1">
                                            <label class="custom-file-label" for="customFile1">Estuviste en este lugar?</label>
                                        </div>
                                        <span asp-validation-for="GalleryReview" class="text-danger"></span>
                                    </div>
                                </div>
                                <input type="hidden" asp-for="UserNameReview" value="@ViewBag.NameUser" />
                                <input type="hidden" asp-for="PlaceIdReview" value="@Model.PlaceId" />
                                <input type="hidden" name="urlPlaceReview" value="@Model.NameUrl" />
                                <input type="hidden" asp-for="NamePlaceReview" value="@Model.Name" />
                                <button class="contact_button trans_200">Comentar</button>
                            </form>
                        </div>

                        <partial name="_MessajeContact" />
                    }
                </div>
            </div>

            <!-- Listing Sidebar -->
            <div class="col-lg-4 sidebar_col">
                <div class="sidebar">
                    <!-- Work Hours -->
                    <div class="work_hours d-flex flex-row align-items-center justify-content-start">
                        <div class="sidebar_info_icon">
                            <img src="~/images/ws.svg" alt="" />
                        </div>
                        <div class="sidebar_info_content">
                            <span>Escribanos: </span> <a href="https://api.whatsapp.com/send?phone=57 @Model.Phone" target="_blank">3104304545</a>
                        </div>
                    </div>

                    <!-- Info -->
                    <div class="sidebar_info">
                        <ul>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div class="sidebar_info_icon">
                                    <img src="~/images/info_1.png" alt="" />
                                </div>
                                <div class="sidebar_info_content">
                                    <span>Municipio: </span>@Model.City
                                </div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div class="sidebar_info_icon">
                                    <img src="~/images/info_1.png" alt="" />
                                </div>
                                <div class="sidebar_info_content">
                                    <span>Dirección: </span>@Model.Address
                                </div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div class="sidebar_info_icon">
                                    <img src="~/images/info_1.png" alt="" />
                                </div>
                                <div class="sidebar_info_content">
                                    <span>Zona: </span>@Model.urban
                                </div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div class="sidebar_info_icon">
                                    <img src="~/images/info_3.png" alt="" />
                                </div>
                                <div class="sidebar_info_content">
                                    <span>E-mail: </span>@Model.Email
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Similar Places -->
                    <div class="similar_places">
                        <div class="section_title"><h1>Cercanos a @Model.Name</h1></div>
                        <div class="similar_places_container d-flex flex-lg-column flex-row align-items-start justify-content-between flex-wrap">
                            <!-- Similar Place -->
                            <div class="similar_place">
                                <div class="similar_place_image">
                                    <div class="location_icon">
                                        <a href="#"><img src="~/images/loc.png" alt="" /></a>
                                    </div>
                                    <div class="similar_place_rating">4,5</div>
                                    <img src="~/images/similar.jpg" alt="" />
                                </div>
                                <div class="similar_place_title">
                                    <a href="#">Restaurante</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ScriptPlacesDetails");}
}
