@model IEnumerable<Model.Gallery>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProducId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProducId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GalleryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GalleryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GalleryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
