@model ToursView

@{
    ViewData["Title"] = Model.Name + ", ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["imagen"] = Url.Content($"~/images/images/{Model.CoverPage}");

}

<!-- Home -->
<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="@ViewData["imagen"]" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Listing -->

<div class="listing">
    <div class="container">
        <div class="row">
            <!-- Listing Content -->
            <div class="col-lg-8">
                <div class="listing_content">
                    <div class="section_title text-center">
                        <h1>Descripción del Plan</h1>
                    </div>
                    <div class="listing_text">
                        <p class="text-justify">@Model.Description</p>
                    </div>
                    <br />
                    <div class="section_title text-center">
                        <h4>Descripción de la empresa @Model.Place.Name</h4>
                    </div>

                    <div class="listing_text">
                        <p class="text-justify">@Model.Place.Description</p>
                    </div>

                    <!-- Galleries -->
                    <div class="container mt-40">
                        <div class="section_title">
                            <h1 class="text-center">Galleria</h1>
                        </div>
                        <div class="row justify-content-center">
                            @foreach (var item in Model.Galleries)
                            {
                                <div class="review_image m-2">
                                    <a class="galleriesTour"
                                       href="~/images/images/@item.NameImage">
                                        <img src="~/images/images/@item.NameImage" alt="" />
                                    </a>
                                </div>
                            }
                        </div>
                    </div>


                    <!-- Reviews -->
                    <div class="reviews">
                    </div>
                </div>
            </div>

            <!-- Listing Sidebar -->
            <div class="col-lg-4 sidebar_col">
                <div class="sidebar">
                    <!-- Work Hours -->
                    <div class="work_hours d-flex flex-row align-items-center justify-content-start">
                        <div class="sidebar_info_icon">
                            <img src="~/images/ws.svg" alt="" />
                        </div>
                        <div class="sidebar_info_content">
                            <span>Escribanos: </span> <a href="https://api.whatsapp.com/send?phone=57 @Model.Place.Phone" target="_blank">@Model.Place.Phone</a>
                        </div>
                    </div>

                    <!-- Info -->
                    <div class="sidebar_info">
                        <ul>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div class="sidebar_info_icon">
                                    <img src="~/images/info_1.png" alt="" />
                                </div>
                                <div class="sidebar_info_content">
                                    <span>Municipio: </span>@Model.Place.City
                                </div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div class="sidebar_info_icon">
                                    <img src="~/images/info_1.png" alt="" />
                                </div>
                                <div class="sidebar_info_content">
                                    <span>Dirección: </span>@Model.Place.Address
                                </div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div class="sidebar_info_icon">
                                    <img src="~/images/info_3.png" alt="" />
                                </div>
                                <div class="sidebar_info_content">
                                    <span>E-mail: </span>@Model.Place.Email
                                </div>
                            </li>
                        </ul>
                    </div>


                    <!-- Similar Places -->
                    <div class="similar_places">
                        <div class="section_title text-center"><h4>Descansa ¡te lo mereces!</h4></div>

                        @if (Model.Products != null)
                        {
                            @foreach (var whereToSleep in Model.Products)
                            {

                                <!-- Blog Post -->
                                <div class="m-3">
                                    <div class="blog_post_container">

                                        @if (whereToSleep.Discounts > 0)
                                        {
                                            <div class="location_icon text-center">
                                                <span style="color:aliceblue"> Desc del <strong> @whereToSleep.Discounts%</strong></span>
                                            </div>
                                        }


                                        @if (whereToSleep.CoverPage == null)
                                        {
                                            <div class="blog_post_image"><img src="~/images/blog.jpg" alt="@whereToSleep.Name"></div>
                                        }
                                        else
                                        {
                                            <div class="blog_post_image"><a asp-controller="Products" asp-action="Product" asp-route-productUrl="@whereToSleep.ProductUrl"><img src="~/images/images/@whereToSleep.SquareCover" asp-append-version="true"></a></div>
                                        }

                                        <div class="blog_post_content">

                                            <div class="blog_post_date text-center"><a href="#">@whereToSleep.Place.City</a></div>

                                            <div class="blog_post_title">
                                                <h3><a asp-controller="Products" asp-action="Product" asp-route-productUrl="@whereToSleep.ProductUrl">@whereToSleep.Name</a></h3>
                                            </div>
                                            <div class="blog_post_tags text-lg-center">
                                                <ul class="d-flex flex-row align-items-start justify-content-start">
                                                    <li><a asp-controller="Company" asp-action="Details" asp-route-urlName="@whereToSleep.Place.NameUrl">@whereToSleep.Place.Name</a></li>
                                                    @if (whereToSleep.Place.urban)
                                                    {
                                                        <li>Urbano</li>
                                                    }
                                                    else
                                                    {
                                                        <li>Rural</li>
                                                    }

                                                </ul>
                                            </div>
                                            <div class="blog_post_title text-center">

                                                @if (whereToSleep.Discounts >= 0)
                                                {
                                                    <p class="text-center"> <del><span>Sin descuento @whereToSleep.PriceWhitIncrement COL</span></del></p>
                                                }

                                                <h2>@whereToSleep.ProductWithDiscounts Col</h2>
                                            </div>
                                            <p class="text-center"><span>Plan para @whereToSleep.PersonNumber personas</span></p>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ScriptPlacesDetails");}
}












