@model IEnumerable<Model.DTOs.StoreProductsDto>

@{
    ViewData["Title"] = "Tienda Virtual, ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["imagen"] = Url.Content("~/images/blog.jpg");
}

<!-- Home -->
<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="@ViewData["imagen"]" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title">Tienda Virtual</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div style="width:100%; height:150px; background-color:forestgreen"></div>*@

@if (Model.Any())
{
    <!-- Blog -->

    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="blog_posts_container">
                        <div class="blog_posts">

                            @foreach (var product in Model)
                            {

                                <!-- Blog Post -->
                                <div class="blog_post">
                                    <div class="blog_post_container">

                                        <div class="location_icon">
                                            <span> <strong> @product.Price Col</strong></span>
                                        </div>

                                        @if (product.CoverPage == null)
                                        {
                                            <div class="blog_post_image"><img src="~/images/blog.jpg" alt="@product.Name"></div>
                                        }
                                        else
                                        {
                                            <div class="blog_post_image"><a asp-controller="Store" asp-action="ShopProducts" asp-route-productUrl="@product.ProductUrl"><img src="@product.SquareCover" asp-append-version="true"></a></div>
                                        }

                                        <div class="blog_post_content">

                                            <div class="blog_post_date"><a href="#">@product.Place.City</a></div>

                                            <div class="blog_post_title">
                                                <h3>@product.Name</h3>
                                            </div>
                                            <div class="blog_post_tags">
                                                <ul class="d-flex flex-row align-items-start justify-content-start">
                                                    <li><a asp-controller="Company" asp-action="Details" asp-route-urlName="@product.Place.NameUrl">@product.Place.Name, </a></li>
                                                    <li><a href="#">Urbano</a></li>
                                                </ul>
                                            </div>
                                            <p class="text-center"><span>Valor de envio $10.000 col</span></p>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col">
                    <div class="blog_posts_more">
                        <div class="button load_more_button ml-auto mr-auto"><a href="#">Load More</a></div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>



}
else
{

    <h1>En el momento no hay registros</h1>
}


@section Scripts {

    @{await Html.RenderPartialAsync("_ScriptPlacesAliados");}
}
