@model IEnumerable<StoreView>

@{
    ViewData["Title"] = "Tienda Virtual, ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["imagen"] = Url.Content("~/images/blog.jpg");
}

<!-- Home -->
<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="@ViewData["imagen"]" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title">Tienda Virtual</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Any())
{
    <!-- Blog -->
    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="blog_posts_container">
                        <div class="blog_posts">

                            @foreach (var _store in Model)
                            {

                                <!-- Blog Post -->
                                <div class="blog_post">
                                    <div class="blog_post_container">

                                        @if (_store.Discounts > 0)
                                        {
                                            <div class="location_icon text-center">
                                                <span style="color:aliceblue"> Desc del <strong> @_store.Discounts%</strong></span>
                                            </div>
                                        }


                                        @if (_store.SquareCover == null)
                                        {
                                            <div class="blog_post_image"><img src="~/images/blog.jpg" alt="@_store.Name"></div>
                                        }
                                        else
                                        {
                                            <div class="blog_post_image"><a asp-controller ="store" asp-action="ShopProducts" asp-route-urlProductStore="@_store.ProductUrl"><img src="~/images/images/@_store.SquareCover" asp-append-version="true"></a></div>
                                        }

                                        <div class="blog_post_content">

                                            <div class="blog_post_date text-center"><a href="#">@_store.Place.City</a></div>

                                            <div class="blog_post_title">
                                                <h3><a asp-controller="store" asp-action="ShopProducts" asp-route-urlProductStore="@_store.ProductUrl">@_store.Name</a></h3>
                                            </div>
                                            <div class="blog_post_tags text-lg-center">
                                                <ul class="d-flex flex-row align-items-start justify-content-start">
                                                    <li><a asp-controller="Company" asp-action="Details" asp-route-urlName="@_store.Place.NameUrl">@_store.Place.Name</a></li>
                                                    <li>@_store.Mineral</li>
                                                </ul>
                                            </div>
                                            <div class="blog_post_title text-center">

                                                @if (_store.Discounts >= 0)
                                                {
                                                    <p class="text-center"> <del><span>Sin descuento @_store.PriceWhitIncrement COL</span></del></p>
                                                }

                                                <h2>@_store.ProductWithDiscounts Col</h2>
                                            </div>
                                            <p class="text-center"><span>Valor del envio @_store.ShippingValue</span></p>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                    <div class="col">
                        <div class="blog_posts_more">
                            <div class="button load_more_button ml-auto mr-auto"><a href="#">Load More</a></div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>



}
else
{
    <partial name="_MessageWithoutRegistration" />
}


@section Scripts {

    @{await Html.RenderPartialAsync("_ScriptPlacesAliados");}
}
